.container{
    text-align: center;
    margin-top:23px
}
 
table{
    margin: auto;
}
 
input{
    border-radius: 21px;
    font-size:34px;
    height: 65px;
    width: 260px;
    scroll-behavior: smooth;
}
 
button{
    border-radius: 20px;
    font-size: 20px;
    background: #ffffff;
    width: 60px;
    height: 50px;
    margin: 6px;
}

body {
    background-image: url("https://wallpaperaccess.com/full/300186.jpg");
   
   }
 
.calculator{
    background-image: linear-gradient(red, yellow);
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
   
}